{% extends 'base.html' %}

{% block head %}

    <title>QR Code</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            // Periodically check the connection status
            setInterval(function() {
                $.ajax({
                    url: '/check_connection',
                    success: function(data) {
                        if (data.status == 'connected') {
                            // Connection has been established, redirect to the next page
                            window.location.href = '/verify';
                        }
                    }
                });
            }, 2000); // Check every 5 seconds
        }); 
    </script>

{% endblock %}

{% block index %}

    <h2>{{ prompt }}</h2>
    <br>
    <h3 class="red-text">{{ notice }}</h3>
    <img src="{{ url_for('static', filename='images/dynamic_url_qr.png') }}" width="190" height="190">

{% endblock %}